<!-- Core Firebase-->
<script src="/__/firebase/6.0.4/firebase-app.js"></script>

<!-- Firebase service used -->
<script src="/__/firebase/6.0.4/firebase-auth.js"></script>
<script src="/__/firebase/6.0.4/firebase-firestore.js"></script>

<!-- init -->
<script src="/__/firebase/init.js"></script>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><span class="logo"><i class="fas fa-utensils"></i>Frite Sauce</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#top">Acceuil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#menu">Menu</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
        </ul>
        <div class="login ml-auto">
          <a href="/order" class="d-lg-inline-block d-none btn btn-md btn-primary">Commandez!</a>
          <a href="/login" class="d-lg-inline-block d-none btn spacer-left btn-primary">Client Existant</a>
        </div>
      </div>
    </div>
  </nav>
</header>