<header>
  <nav class="navbar navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><span class="logo"><i class="fas fa-utensils"></i>Frite Sauce</span></a>
        <div class="login ml-auto">
          <a href="/" class="btn btn btn-md btn-primary">Acceuil</a>
        </div>
      </div>
    </div>
  </nav>
</header>