
  <%- include('../partials/header.ejs') %>
  <%- include('../partials/navbar-main.ejs') %>
  <!-- Content -->
	<main>
      <div class="container container-main">
        <section id="top">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <h1>D'la poutine en veux tu en v'la!</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam laudantium adipisci, pariatur,
                similique
                quam nostrum possimus tempora inventore sint corrupti minima. Nulla natus voluptate hic ducimus
                accusantium mollitia animi consectetur.</p>
            </div>
            <div class="col-md-12 col-lg-6">
              <h1>La meuilleur poutine en ville!</h1>
              <p class="spacer-bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae nostrum sed
                placeat ipsa illum
                commodi suscipit autem nemo quasi sit eligendi, iusto itaque in delectus, quis expedita saepe harum
                sequi</p>
              <a href="/order" class="btn btn-primary spacer-right">J'en commande une!</a>
              <a href="/login" class="btn btn-primary">J'me connect!</a>
            </div>
          </div>
        </section>
        <hr>
        <section id="menu">
          <div class="row">
            <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
              <div class="card" style="">
                <img src="img/french-fries.png" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Frites & Poutines</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quasi officia aliquam
                    cupiditate totam quibusdam minima mollitia ex, explicabo ab veniam sunt fugiat iure! Tempore facere
                    sit perspiciatis, quae quos voluptates ratione ipsum qui, repudiandae iste non fugit! Cupiditate, sunt
                    ipsum sapiente facere libero est repellendus nesciunt quibusdam facilis animi provident maiores hic
                    nihil, iusto minima, rem expedita vitae. Dignissimos?</p>
                  <a href="/order" class="btn btn-primary">J'en veux!</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
              <div class="card" style="">
                <img src="img/burger.png" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Repas</h5>
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quisquam placeat
                    quae commodi odio dolore quo ipsa, quos et. Iure ipsam sint nisi eveniet dicta, eos inventore, quam
                    dolorum, nostrum in doloribus veritatis tempora! Maxime ut ullam recusandae voluptatum repellendus sit
                    impedit dolores veniam minima quos. Fuga, corrupti, et architecto facere dignissimos vitae fugit vero
                    hic atque, perspiciatis sit. Minima?</p>
                  <a href="/order" class="btn btn-primary">J'en veux!</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
              <div class="card" style="">
                <img src="img/sauces.png" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sauces & Breuvage</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ullam ad,
                    saepe quo veritatis fuga facilis nihil illum impedit eligendi incidunt, placeat dignissimos hic.
                    Provident facilis voluptatum similique quam quis voluptas saepe, sit, mollitia nostrum deleniti nam
                    iste? Ad, eius non. Eveniet veritatis quos voluptas ex assumenda, delectus perspiciatis rerum
                    dignissimos nobis blanditiis totam. Porro minus ea possimus et.</p>
                  <a href="/" class="btn btn-primary">J'en veux!</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr>
        <section id="contact">
          <div class="row text-center">
            <div class="col-md-5 col-lg-6">
              <img src="img/food-truck.png" class="float-md-right rounded-circle w-25" alt="">
            </div>
            <div class="col-md-5 col-lg-auto pt-lg-3 text-md-left">
                <h1 class="logo">Frite Sauce Inc.</h1>
                <p>21 Rue de la Sauce<br>
                  Gatineau, Quebec
                </p>
            </div>
          </div>
          <div class="row justify-content-center pl-lg-4">
            <div class="icon-bottom text-center">
              <i class="fab spacer-right fa-facebook-f"></i>
              <i class="fas spacer-right fa-phone"></i>
              <i class="fab spacer-right fa-facebook-messenger"></i>
              <i class="fas spacer-right fa-envelope"></i>
              <i class="fab spacer-right fa-instagram"></i>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('../partials/footer') %>